html {
  height: 100%;
  border:0;
  }

body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, nav, section {
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}

div {
display: block;
position: static;
float: none;
clear: none;
overflow: visible;
}

article, aside, details, figcaption, figure, dialog,
footer, header, hgroup, menu, nav, section {
display:block;
}

BODY {
  font-size:12px;
  font-family:tahoma, geneva, sans-serif;
  line-height:1.5;
  background-color:white;
  width:100%;
  height:100%;
  }

  a {
  color: blue;
  outline: none;
  text-decoration: underline;
  }

  a:hover {
  text-decoration: none;
  }

  img { border: none; }

  p {
  margin: 0 0 18px
  }

#app-container{
    width:100%;  
    /* max-width:460px; */
  }

#map-container{
  width:100%;
  height:400px;
} 

#map-target {
  height: 100%;
  width: 45%; 
  margin: 5px;
  position: center;
  float: left;
}

  .inlines
  {
    width:100%;
    display:inline-block;
  }

  #btn-container{
   height:100%;
   margin: 5px;
   float: left;
   /* background-color:#ff0000; */
  }
  
  #msg-container{
   height:30px;
   /* background-color:#00ff00; */
  }
  
  #image-container{
    width: 45%; 
    height:auto;
    display:inline-block;
   /* background-color:#0000ff; */
  }