#container{
    width:100%;  
    max-width:460px;
  }
  .inlines
  {
    width:100%;
    display:inline-block;
  }

  #btn-container{
   height:50px;
   /* background-color:#ff0000; */
  }
  
  #msg-container{
   height:30px;
   /* background-color:#00ff00; */
  }
  
  #png-container{
   height:auto;
   /* background-color:#0000ff; */
  }